/* Extra Small Screen size/base styles ***********************************/
/* XS */
.overflowHidden{
    position:fixed;
}

*{
    /* reset all the margins and padding */
    margin:0;
    padding:0;

    /* quick functional transition for hovers, etc. */
    -ms-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
}

.contact, .projectContainer{
    /* slower functional transition for larger moving elements */
    -ms-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
}

/* Fonts */

html{
    font-weight:200; /*thin*/
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:18px;
    color:#000;
}

h1, h2, h3, p,  .projectInfo .title{
    line-height:1.25em;
}

.projectInfo .main{
    line-height:normal;
}

.hideOverflow{
    height:100%;
    overflow:hidden;
}

h1{
    font-size:60px;
    font-size:6vw;
    font-weight:400;
    margin-top:20px;
    margin-bottom:0;
    align-self:flex-start;
    cursor:default;
}

h1.bold{
    font-size:100px;
    font-size:10vw;
    font-weight:500;
}

h1 > span{ /* used for 'A' or 'The' before a title*/
    font-size:30px;
    font-size:3vw;
    font-weight:400;

    line-height:10px;
    line-height:1vw;
}

h2{ /* need a smaller screen version to scale (probably)*/
    font-size:20px;
    font-size:6vw;
    font-weight:300;
    margin-top:20px;
    margin-bottom:0;
    align-self:flex-start;

    cursor:default;
}

h2.bold{
    font-weight:200;
}

h2::selection {
    color:#fff;
    background-color:#EA7E0D;
}

.me h2::selection{
    color:#EA7E0D;   /*orange*/
    background-color:transparent;
}

.miniBag h2::selection{
    color:#235789;
    background-color:#efefef;
}

.imageMatters h2::selection{
    color:#1F76DB;
    background-color:#efefef; /*light grey*/
}

.projectContainer h2.sectionTitle{
    font-size:18px;
    font-size:2vw;
    font-weight:400;
}

h3{
    font-size:40px;
    font-size:8vw;
    font-weight:500;
    align-self:flex-start;
    cursor:default;
}

h3::selection{
    color:#fff;
    background-color:#1F76DB; /*bright blue*/
}

.miniBag h3::selection{
    color:#235789;
    background-color:#efefef;
}

.imageMatters h3::selection{
    color:#1F76DB;
    background-color:#efefef;
}

p{
    /* adds a readable width and some spacing below paragraphs */
    max-width:600px;
    margin-bottom:20px;
    cursor:default;
    line-height: 25px;
    line-height:7vw;
}

p.why{ /*blockquote*/
    font-size:40px;
    line-height:60px;
    font-style:italic;
    font-weight:200;
    padding-right:20px;
}

p.why > span{ /*blockquote attribution*/
    font-style:normal;
    font-size:30px;
}

.projectContainer .pageTitle p{
    margin-bottom:-10px !important;
}

p::selection, div::selection, span::selection{
    color:#fff;
    background-color:#235789; /*dark blue*/
}

.miniBag p::selection, .miniBag div::selection, .miniBag span::selection{
    color:#235789;
    background-color:#fff;
}

.imageMatters p::selection, .imageMatters div::selection, .imageMatters span::selection{
    color:#1F76DB;
    background-color:#fff;
}

a{
    /* removes the 1990's affordances */
    text-decoration: inherit;
    color:inherit;

    /* adds the 2010's affordances */
    padding:10px;
    width:90vw;

    /* used to make links expand from the center */
    line-height:30px;
    vertical-align: middle;
    text-align: center;

    font-size:20px;
    font-weight:300;

    border:2px solid #fff;
    align-self:center;
    left:auto;
    right:auto;
    margin:0;

    position:absolute;
    align-self:center;
    top:200px;

    letter-spacing: 2px;
}

a:hover{
    background-color:#fff;
}

/* End global (built in) tags****************/

.me h1, .me h2{
    margin-left:12%;
    margin-top:0;
}

.contact h2{
    opacity:1;
}

.contact h2.hideCopy{
    opacity:0;
}

.pageTitle{
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    margin-left:15px;
    margin-right:15px;
}

.pageTitle p{
    align-self:flex-start;
    margin-bottom:20px;
    min-width:0;
}

.me .pageTitle, .sendoff .pageTitle, .contact .pageTitle{
    height:calc(100% - 150px);
    padding-top:150px;
}

/* .projectContainer .sendOff .pageTitle{
    padding-top:100px;
} */

.miniBag .pageTitle, .imageMatters .pageTitle{
    width:60%;
    align-self:center;
}

.projectPreview .pageTitle{
    margin-top:30px;
}

section.savings, section.nationwide, section.miniBag, section.imageMatters,
section.lineBreakOne{
    width:100%;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom:100px;
}

section.linebreakOne{
    padding-top:100px;
    padding-bottom:0;
    font-style:italic;
    justify-content: center;
}

section.miniBag, section.imageMatters{
    color:#fff;
    flex-direction:column;
    padding-bottom:50px;
}

section.miniBag{
    background-color:#CB187C; /*magenta*/
}

section.imageMatters{
    background-color:#00247D; /*yellow*/
    color:#fff;
}

section.savings{
    margin-top:100px;
}

 section.nationwide{
     margin-top:0;
 }

section.featured{
    padding-bottom:50px;
}

/* End Page title overrides ********/

a.external{
    padding:0;
    width:auto;
    line-height: inherit;
    text-align:inherit;
    font-size:inherit;
    font-weight:inherit;
    border:none;
}

a.external p:hover{
    cursor:pointer;
}

.me a, .contact a, .featured a, .sendoff a{
    align-self:center;
    margin:auto;
    bottom:0;
    top:auto;

    margin-top:30px !important;
}

.me a::selection{
    background-color:#474647;
    color:#fff;
}

.me a, .contact a{
    background-color:#fff;
    color:#474647;
}

.contact a{
    border-color:#474647;
    background-color:#474647;
    color:#fff;
}

.contact a::selection{
    background-color:#fff;
    color:#474647;
}

.featured a::selection{
    background-color:#EA7E0D;
    color:#fff;
}

.me a:hover{
    background-color:rgba(0,0,0,0);
    color:#fff !important;
}

.contact a:hover{
    background-color:#fff;
    color:#474647;
}

.featured a{
    background-color:#474647;
    color:#fff;
    border-color:#474647;
    bottom:-50px;
}

.sendoff a, a.sendoffButton{
    background-color: #EA7E0D;
    color: #fff;
    border-color: #EA7E0D;
}

.iconsProject a{
    background-color:#EA7E0D;
    border:1px solid #EA7E0D !important;
    color:#fff;
    margin-top:0;
}

.iconsProject a:hover{
    background-color:#fff;
    border:1px solid #EA7E0D;
    color:#EA7E0D;
}

.sendoff a::selection{
    background-color:#EA7E0D;
    color:#fff;
}

.sendoff a:hover{
    background-color:#fff;
    color:#EA7E0D;
    border-color:#EA7E0D;
}

.featured a:hover{
    background-color:#fff;
    color:#474647;
    border-color:#474647;
}

.savings a, .miniBag a, .nationwide a, .imageMatters a{
    top:auto;
    bottom:-50px;
    color:#fff;
}

.savings a{
    border-color:#00AD46; /* green */
    background-color:#00AD46;
}

.savings a:hover{
    border-color:#00AD46;
    background-color:#fff;
    color:#00AD46;
}

.miniBag a{
    border-color:#fff;
    background-color:#fff;
    color:#CB187C;
    position:relative;
}

.miniBag a:hover{
    background-color:#CB187C; /*magenta*/
    color:#fff;
}

.nationwide a{
    border-color:#0072CF; /*nationwide blue*/
    background-color:#0072CF;
}

.nationwide a:hover{
    border-color:#0072CF;
    background-color:#fff;
    color:#0072CF;
}

.imageMatters a{
    border-color:#fff;
    background-color:#fff;
    color:#00247D; /*yellow*/
    position:relative;
}

.imageMatters a:hover{
    border-color:#F2C924;
    background-color:#F2C924;
    color:#fff;
}

.savings a::selection, .nationwide a::selection{
    background-color:#EA7E0D;
    color:#fff;
}

.miniBag a::selection{
    background-color:#235789;
    color:#fff;
}

.imageMatters a::selection{
    background-color:#1F76DB;
    color:#fff;
}

.me a:hover{
    color:#474647;
}

.me a:hover span{
    opacity:0;
}

a.toExternal{
    border:none;
}

.projectContainer p:last-of-type{
    margin-bottom:50px;
}

/* End Page Link overrides ******************/

section, section > div, .pagination, .pagination > div, section.whatProject, .footer section,
.projects > div, .close, .projectInfo, .projectInfo div, .mobileSection, .mobileContent,
.channels, .askMe, .projectTitle{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */

    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;

    position:relative;

    box-sizing:border-box;
}

.mainContainer > section{
    width:100%;
    min-width:100vw;
    max-width:100vw;
    height:auto;
    position:relative;
}

.mainContainer > section.me{
    min-height:80vh;
}

section.sendoff{
    min-height:100vh;
}

.me{
    color:#fff;
    background-size:cover;
    background-position:center;

    background-color:#474647; /*grey*/
    background-image:url('https://jwisneski.github.io/portfolio/images/MapSliceDarkGreyOptimized.jpg');
    /*background-image:url('../images/MapSliceDarkGreyOptimized.jpg');*/
}

.mainContainer{
    width:100%;
    width:100vw;
    min-height:calc(500%+160px);
    overflow:hidden;
}

/* End page section overrides **************/

.content{
    width:calc(100% - 30px);
    margin-top:50px;
    margin-bottom:50px;
    margin-left:15px;
    margin-right:15px;
}

.pageTitle .content{
    margin-left:0;
    margin-right:0;
}

.projects{
    width:100%;
    bottom:70px;
    flex-direction:column;
    margin-top:40px;
}

.projects > div{
    width:90%;
    height:15%;
    height:calc((100vh - (16vw + 150px))/3);
    flex-direction:row;
    align-self:flex-start;
    align-items:center;
    justify-content: flex-start;
    padding-top:30px;
}

.projects p{
    padding-top:15px;
    font-weight:400;
}

.projects div:hover, .projects p:hover{
    cursor:pointer;
}

.projects .guitar, .projects .furniture, .guitar p, .furniture p{
    cursor:default !important;
}

.projects > div > div, .projects > div > svg{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    width:40%;
    margin-right:20px;
    height:70%;
    overflow:visible;
}

.projects svg{
    width:70%;
    height:70%;
}

.projectHovered{
    background-color:#fff;
    color:#EA7E0D;
}

.projectHovered svg *{
    fill:#EA7E0D;
}

.projectHovered svg .noHover{
    fill:#fff;
}

.projectHovered svg .noHoverPath{
    stroke:#EA7E0D;
    fill:none;
}

.projectHovered svg .whiteHoverPath{
    stroke:#fff;
    fill:none;
}

.projectHovered.nounProject{
    background-color:#000;
    color:#E7ECEF;
}

.projectHovered.nounProject circle{
    fill:#E7ECEF;
}

.projectHovered.nounProject circle.shell{
    stroke:#E7ECEF;
    fill:none;
}

.projectContent{
    width:100%;
    height:75%;
}

.projectContent.miniBag{
    height:75%;
}

.mobileProject{
    width:100%;
    height:100%;

    display:none;

    margin-left:5%;
    max-height:510px;
    margin-top:50px;
}

/* Needs to be changed for small screens*/
.savingsProject .mobileProject, .nationwideAppProject .mobileProject{
    margin-left:0;
    max-height:none;
    min-width:340px;
    min-height:708px;
}

.desktopProject{
    width:100%;
    height:auto;
    position:relative;

    display:none;
}

.miniBag .desktopProject, .miniBagProject .desktopProject{
    background-image:url('https://jwisneski.github.io/portfolio/images/BatmanVSuperman.jpg');
    background-size:cover;
    background-position:top center;

    border-top:2px solid #474647;
}

.imageMatters .desktopProject, .imageMattersProject .desktopProject{
    background-image:url('https://jwisneski.github.io/portfolio/images/imHomeC.jpg');
    background-size:cover;
    background-position:top center;

    border-top:2px solid #474647;
}

.nationwide .mobileProject, .nationwideAppProject .mobileProject{
    background-color:#efefef;
}

.mobileProject > .screen{
    width:100%;
    height:60%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top center;
}

.nationwideScreen{
    background-image:url('https://jwisneski.github.io/portfolio/images/NWIDCard.jpg');
}

.nationwideAppProject .nationwideScreen, .savingsProject .savingsLauncherScreen{
    background-size:contain;
}

.savingsLauncherScreen{
    background-image:url('https://jwisneski.github.io/portfolio/images/savingsLauncherOn.jpg');
}

.projectInfo{
    position:relative;
    width:100%;
    flex-direction:row;
    align-self:flex-start;
    margin-top:20px;
    margin-bottom:20px;
    flex-wrap:wrap;
    justify-content:flex-start;
}

.titleContainer{
    margin-left:20px;
    margin-right:20px;
}

.timeframe, .role{
    min-width:auto;
    margin-right:50px;
}

.role{
    margin-right:10px;
}

.projectInfo .title{
    font-weight:200;
    font-size:16px;
    line-height:1em;
}

.projectInfo .main{
    font-weight:400;
    font-size:40px;
}

.projectInfo, .secondary{
    font-weight:200;
}

.secondary span{ /*denotes an "and"*/
    font-weight:400;
}

.channels{
    margin:0;
    margin-top:30px;
    margin-bottom:20px;
    width:calc(100% - 20px);
    padding-left:10px;
    padding-right:10px;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.channels.light{
    fill:#fff;
}

.channels svg{
    height:80px;
    width:80px;
}

.channels .laptopIcon svg{
    height:80px;
    width:auto;
}

.channels * + .laptopIcon{
    padding-left:10px;
}

/* End how content overrides **************/

.contact p{
    text-align:center;
    margin-bottom:-30px;
    padding:20px;
    min-width:200px;
}

.contactBtn:hover, .contact p:hover{
    cursor:pointer;
}

.contact, .projectContainer{
    background-color:#fff;
    color:#000;
    position:fixed;
    top:-120%;

    width:100%;
    height:100%;
    border-bottom:1px solid #474647;
}

.projectContainer{
    top:120%;
    height:calc(100% + 50px);
    height:auto;
    overflow-y:scroll;
    -webkit-overflow-y-scrolling: touch;
    overflow-x:hidden;

    border-top:1px solid #474647;
    border-bottom:0px;
    align-items:center;
}

.contactShown, .projectContainerShown{
    top:0;
    bottom:0;
}

.overlayContainer{
    position:fixed;
    top:120%;
    width:100%;
    height:100%;
}

.emailPlaceholder{
    position:fixed;
    top:-150%;
}

/* End Contact Information ********************/

.footer{
    color:#000;

    position:absolute;
    bottom:20px;
    align-items: center;
    align-self:center;
    justify-content: flex-end;

    font-weight:500;
}

.footer > p{
    margin-bottom:0;
}

.footer > p > span{
    font-weight:200;
}

.projectContainer .footer p:last-of-type{
    margin-bottom:0 !important;
}

/* End Footer *********************************/

.downArrow, .upArrow{
    width:50px;
    height:50px;
    padding:10px;
    top:50px;
    right:50px;
    z-index:3;
}

.featured .downArrow{
    margin-top:100px;
}

.downArrow:hover, .downArrow.hovered{
    padding-top:20px;
    margin-bottom:-10px;
    cursor:pointer;
}

.upArrow{
    -ms-transform: rotate(180deg);
    -ms-transform-origin: center;
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: center; /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    transform-origin:  center;
    display:none;
    position:fixed;
}

.upArrow.light{
    z-index:1;
    margin-top:2px;
    fill:#fff;
}

.upArrow:hover, .upArrowHovered{
    padding-top:20px;
    margin-bottom:-10px;
    cursor:pointer;
}

.upArrowShown{
    display:block;
}

.downArrow .light{
    fill:#fff;
}

.close{
    position:absolute;
    top:20px;
    margin:0 auto;

    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    align-self:center;
    order:0;

    width:250px;
    height:50px;
    padding-left:50px;
    padding-right:50px;
    padding-top:30px;
    padding-bottom:30px;
}

.close svg{
    width:30px;
    height:30px;
}

.close h4{
    line-height:50px;
}

.close:hover{
    background-color:#FA7921;
    fill:#fff;
    color:#fff;
    cursor:pointer;
}

.whatIdo{
    justify-content: space-around;
    background-color:#fff;
    padding-top:100px;
}

.whatIdo div{
    width:90%;
    height:90vw;
    background-color:#fff;

    background-size:contain;
    background-position:center;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*remove this when the photos are ready*/
.leadWork, .indyWork{
    height:30px !important;
    margin-bottom:0 !important;
    background:transparent;
}

.indyWork, .portrait{
    margin-bottom:50px;
}

.leadWork{
    order:2;
    /* background-image:url('https://jwisneski.github.io/portfolio/images/MapSliceDarkGreyOptimized.jpg'); */
    /* background-image:url('../images/process.png'); */
    background-repeat:no-repeat;
    vertical-align: middle;
}

.portrait{
    border-radius:100%;
    background-image:url('https://jwisneski.github.io/portfolio/images/portrait.jpg');

    order:0;
}

.indyWork{
    order:1;
    /* background-image:url('https://jwisneski.github.io/portfolio/images/MapSliceDarkGreyOptimized.jpg'); */
    /*background-image:url('../images/process.png');*/
    background-repeat:no-repeat;
    vertical-align: middle;
}

/* unremove this when photos are ready*/
/* .leadWork::after{
    content:'and a UX Lead at Nationwide';
    position:relative;
    top:100%;
} */

/* .indyWork::after{
    content:"I'm an Experience Designer";
    position:relative;
    top:100%;
} */

.statement{
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin-bottom:100px;
}

.statement .content{
    align-self:center !important;
}

.hobbies, .lineBreakOne{
    display:none;
}

.mobileSection{
    flex-direction:row;
    align-items: flex-start;
    width:100%;
    padding-left:50px;
    padding-right:50px;
    height:auto;
    margin-top:80px;
}

.mobileSection:nth-of-type(2){
    margin-top:30px;
}

.wrap{
    flex-wrap:wrap;
}

.mobileSection.vertical{
    flex-direction:column;
    align-items:center;
}


.mobileSection.centered{
    justify-content: center;
}

.mobileContent{
    margin-top:100px;
    justify-content: flex-start;
    align-items:flex-start;
}

.mobileContent .role{
    margin-top:20px;
    flex-basis:50%;
}

.projectContainer{
    display:block;
}

.projectTitle{
    margin-bottom:50px;
}

.projectHero{
    max-height:400px;
}

/* Project Flow */
.flow, .row, .process, .action, .blank, .flowTansition, .process > div, .iconShowcase,
.iconShowcase > div, .projectTimeline, .projectTimeline div, .titleContainer{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */

    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;

    position:relative;

    box-sizing:border-box;
    width:auto;
}

.flow{
    width:100vw;
    overflow:none;
    margin-top:50px;
    margin-bottom:50px;
}

.flow p{
    min-width:0 !important;
    max-width:90% !important;
    line-height:normal !important;
    font-size:14px !important;
    margin-bottom:0 !important;
}

.flow span{
    font-weight:500;
}

.flow span.outsideAction{
    font-weight:700;
    font-style:italic;
}

.row{
    flex-direction:row;
    align-items:flex-start;
    justify-content: space-between;
    height:120px;
    overflow:visible;
    width:95vw;
    max-width:800px;
}

.row, .process, .action, .blank, .flowTransition{
    text-align:center;
}

.transitionRow, .flowTransition{
    height:50px;
}

.doubleTall{
    height:170px;
}

.process, .action, .blank, .flowTransition, .process > div{
    width:30%;
    align-items: center;
    justify-content: center;
}

.process > div, .action{
    border:1px solid #000;
}

.process{
    height:150px;
}

.process > div{
    position:absolute;
    width:calc(100% - 20px);
    height:calc(100% - 20px);
    background-color:#fff;
}

/* used to create 3 boxes on process divs*/
.process > div:first-of-type{
    left:20px;
    top:20px;
}

.process > div:nth-of-type(2){
    left:10px;
    top:10px;
}

.process > div:nth-of-type(3){
    left:0px;
    top:0px;
}

.action{
    justify-content: flex-start;
}

.action p{
    padding-top:20px;
}

.action span{
    display:inline-block;
    margin-bottom:10px;
}

.action.highlight{
    border-color:#EA7E0D;
    border-width:2px;
}

.action.systemAction{
    border:none;
}

.flowTransition{
    justify-content: center;
}

.oneByTwo{
    width:65%;
}

.oneByThree{
    width:100%;
}

/* End Project Flow*/

.miniBagProject h3{
    position:relative;
}

/* used to create a shopping bag*/
.miniBagProject h3:before, .miniBagProject h3:after{
    content:" ";
    width:22px;
    height:25px;
    background-color:transparent;
    border:2px solid #00AD46;
    position:absolute;
    border-radius:15px;
    left:-50px;
    top:0px;
    margin-left:4px;
}

.miniBagProject h3:after{
    width:30px;
    margin-left:0;
    border-radius:0;
    background-color:#fff;
    top:12px;
}

/* needs update for mobile screens*/
.iconShowcase{
    width:90%;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
    padding-top:30px;
}

.iconShowcase svg{
    width:100px;
    height:100px;
    align-self:center;
}

.iconShowcase > div{
    width:90%;
}

.seattle, .powerups, .gameGuitar{
    background-image:url('https://jwisneski.github.io/portfolio/images/starbucks.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    width:150px;
    height:150px;
}

.powerups{
    background-image:url('https://jwisneski.github.io/portfolio/images/powerup.png');
}

.gameGuitar{
    background-image:url('https://jwisneski.github.io/portfolio/images/gameGuitar.png');
}

/* styles for project pages
could be loaded after project is clicked */

.projectNav{
    flex-direction:row;
    width:100%;
    height:60px;
    margin-top:50px;
}

.savingsProject .projectNav > a:hover{
    background-color:#00AD46;
    color:#fff;
}

.projectTimeline{
    width:100%;
    margin-top:50px;
    margin-bottom:50px;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.timelineTitle{
    width:100%;
}

.projectTimeline div{
    width:100px;
    height:100px;
    border:2px solid #474647;
    border-radius:100%;
    justify-content:center;
    overflow:hidden;
    font-size:60px;
    font-weight:500;
}

.projectTimeline .extraScope{
    padding-bottom:15px;
}

.projectTimeline .htmlComp{
    font-size:40px;
    font-weight:400;
}

.projectRoles, .projectMethods, .projectArtifacts{
    flex-basis:50%;
    min-width:50%;
    margin-bottom:50px;
}

.projectMethods > *{
    padding-left:100px;
}

.projectArtifacts{
    flex-basis:100%;
    min-width:100%;
}

@media(max-height:560px) and (max-width:400px){
    /*extra small short screen iPhone 4 mostly*/
    /* XSS */
    .me a, .contact a, .sendoff a{
        bottom:0;
        top:auto;
    }

    .featured a{
        bottom:-50px;
    }

    .me h1, .me h2 {
        margin:0;
        padding-top:0;
    }

    .timeframe{
        margin-bottom:50px;
    }
}

@media(min-width: 370px){
    /* S */
    /* Small Screen size ***********************************************************/
    .me h1, .me h2{
        margin-left:0;
    }

    .featured a{
        bottom:-50px;
    }

    .channels svg{
        height:90px;
        width:90px;
    }

    .channels .mobileFirst{
        margin-left:-20px;
    }

    .channels .laptopIcon svg{
        height:90px;
        width:auto;
        padding-right:10px;
    }

    .channels .watchIcon svg{
        margin-right:-10px;
        margin-left:-20px;
    }
}

@media(min-width: 660px){
    .mainContainer > section.me{
        min-height:90vh;
    }

    p{
        line-height:1.4em;
    }

    .content{
        align-self:flex-start;
        width:100%;
        margin-top:50px;
        margin-bottom:100px;
    }

    a{
        width:300px;
        align-self:inherit;
        position:inherit;
        top:auto;
        line-height:40px;
        font-size:25px;
    }

    .me h1, .me h2{
        margin-left:0;
    }

    h2{
        font-size:25px;
    }

    .projectPreview h2{
        font-size:20px;
    }

    h2 span{
        display:inline;
        font-size:20px;
    }

    h3{
        font-size:38px;
        font-weight:400;
    }

    .pageTitle{
        margin-left:20px;
        margin-right:20px;
    }

    .projectPreview .pageTitle{
        width:90%;
        align-items:center;
    }

    .projectPreview h2, .projectPreview h3, .projectPreview p{
        align-self:auto;
    }

    .projectPreview .projectInfo{
        justify-content:center;
    }

    .me a, .contact a, .featured a, .sendoff a{
        position:inherit;
        align-self:flex-end;
        margin:0;
    }

    .featured a{
        bottom:0;
    }

    .contact p{
        margin-bottom:-20px;
    }

    .footer{
        bottom:25px;
        left:20px;
        align-items: flex-start;
        text-align: left;
    }

    .footer > p{
        font-size:16px;
    }

    .projectContent{
        flex-direction:row;
        justify-content: space-around;
    }

    .whatIdo{
        flex-direction:row;
    }

    .statement{
        margin-bottom:0;
        flex-direction:column;
        margin-bottom:200px;
    }

    .hobbies, .lineBreakOne{
        display:flex;
        min-width:0;
    }

    .hobbies div{
        cursor:pointer;
    }

    .hobbies .music{
        cursor:default;
    }

    .statement .pageTitle{
        width:80%;
        flex-direction:row;
        justify-content: space-around;
    }

    .statement .icon{
        width:100px;
        height:100px;
    }

    .icons, .games, .music{
        background-position:center;
        background-size:contain;
        background-repeat:no-repeat;
        background-image:url('https://jwisneski.github.io/portfolio/images/carbon.png');
    }

    .games{
        background-image:url('https://jwisneski.github.io/portfolio/images/kurt.png');
    }

    .music{
        width:200px !important;
        background-image:url('https://jwisneski.github.io/portfolio/images/strat.png');
    }

    .whatIdo div{
        width:30%;
        height:30vw;
        margin:0;
    }

    .leadWork{
        order:2;
        height:50px !important;
    }

    .whatIdo .portrait{
        order:1;
        width:25%;
        height:25vw;
    }

    .indyWork{
        order:0;
    }

    /* Project Flow Adjustments*/

    .row, .process, .action, .blank, .flowTransition{
        height:100px;
    }

    .transitionRow, .flowTransition{
        height:50px;
    }

    .doubleTall{
        height:150px;
    }

    .miniBagProject h3:before, .miniBagProject h3:after{
        content:" ";
        width:44px;
        height:50px;

        border-radius:30px;
        left:100%;
        margin-left:8px;
        top:-30px;
    }

    .miniBagProject h3:after{
        border-radius:0;
        width:60px;
        margin-left:0;
        top:-5px;
    }

    .iconShowcase{
        flex-direction:row;
        justify-content: space-around;
    }

    .iconShowcase svg{
        height:100px;
    }

    .iconShowcase > div{
        width:30%;
    }

    .iconShowcase .projectInfo{
        justify-content: center;
    }

    .iconShowcase .timeframe{
        margin-right:0 !important;
    }
}

@media(min-width:720px){
    /*show full project previews*/
    .mobileProject{
        width:350px;
        background-color:#454545;
        border:2px solid #000;
        border-bottom:0;
        border-radius:30px 30px 0 0;
        order:0;

        display:block;
    }

    .savingsProject .mobileProject, .nationwideAppProject .mobileProject{
        border-bottom:2px solid;
        border-radius:30px;
        align-self:flex-start;
        min-width:340px;
        min-height:708px;
    }

    .mobileProject > .screen{
        background-color:white;
        width:95%;
        height:calc(100% - 70px);
        margin-left:calc(2.5% - 2px);
        margin-top:70px;
        border:2px solid #000;
    }

    .savingsProject .mobileProject > .screen, .nationwideAppProject .mobileProject >.screen{
        height:calc(100% - 140px);
    }

    .desktopProject{
        height:100%;
        display:block;
    }

    section.savings, section.miniBag, section.nationwide, section.imageMatters{
        padding-bottom:0;
    }

    section.miniBag{
        background-color:#fff;
        color:#000;
    }

    section.nationwide{
        padding-top:50px;
    }

    section.imageMatters{
        background-color:#fff;
        color:#000;
    }

    .savings .pageTitle, .nationwide .pageTitle{
        width:60%;
    }

    .miniBag .pageTitle, .imageMatters .pageTitle{
        flex-direction:row;
        align-items: center;
        justify-content: center;
        width:100%;
        margin-bottom:30px;
        margin-top:50px;
    }

    .projectInfo{
        margin-bottom: -20px;
    }

    .role{
        margin-right:50px;
        margin-top:0;
    }

    .timeframe{
        margin-right:50px;
        margin-bottom:0;
    }

    .projectInfo .main{
        font-size:25px;
    }

    .channels{
        margin:0;
        align-self:flex-start;
        flex-direction:row;
        justify-content: flex-start;
    }

    .channels svg{
        height:100px;
        width:100px;
    }

    .channels .laptopIcon svg{
        height:100px;
        width:auto;
    }

    .channels.light{
        fill:#000;
    }

    .featured .downArrow{
        margin-top:0;
    }

    .desktopProject{
        height:auto;
    }

    .desktopProject .miniBagScreen{
        height:300px !important;
    }

    .savings a, .nationwide a{
        align-self:flex-start;
    }

    .savings a{
        bottom:-20;
    }

    .miniBag a{
        border-color:#CB187C;
        background-color:#CB187C;
        color:#fff;
        margin-top:-30px;
    }

    .miniBag a:hover{
        color:#CB187C;
        background-color:#fff;
    }

    .imageMatters a{
        border-color:#C3AC0F;
        background-color:#C3AC0F;
        color:#fff;
        margin-top:-30px;
    }

    .imageMatters a:hover{
        border-color:#C3AC0F;
        background-color:#fff;
        color:#C3AC0F;
    }

    .projectPreview .pageTitle{
        width:auto;
        align-items:flex-start;;
    }

    .projectPreview h2, .projectPreview h3, .projectPreview p{
        align-self:flex-start;
    }

    .projectPreview .projectInfo{
        justify-content:flex-start;
    }
}

@media(min-width:800px){
    .row{
        width:70vw;
    }
}

@media(min-width: 1000px){
    /* Large Screen size ***********************************************************/
    /* L */
    html{
        font-weight:300;
    }

    h2, h3, p{
        line-height:1.55em;
    }

    .contact p{
        min-width:200px;
    }

    .footer{
        bottom:20px;
        left:70px;
    }

    .mobileProject{
        margin-right:50px;
        width: 500px;
        border: 4px solid #000;
        border-bottom:0;
        border-radius: 50px 50px 0 0;
        max-height: 700px;
    }

    .mobileProject .screen{
        margin-top:100px;
    }

    .projectInfo{
        margin-bottom: 0px;
    }

    .projectInfo .main{
        font-size:35px;
    }

    .timeframe, .role{
        margin-right:80px;
    }

    .projectInfo .title{
        line-height:30px;
    }

    .miniBagProject h3:before, .miniBagProject h3:after{
        content:" ";
        left:80%;
        top:-15px;
    }

    .miniBagProject h3:after{
        top:10px;
    }
}

@media(min-width:1100px){
    .row{
        width:50vw;
    }
}

@media(min-width:1200px){
    h2{
        font-size:30px;
    }

    .miniBag .desktopProject{
        height:50vh;
    }

    .timeframe{
        margin-right:120px;
    }

    .projectInfo .title{
        font-size:20px;
    }

    .projectInfo .main{
        line-height:35px;
        font-size: 30px;
    }
}

@media(min-width:1620px){
    .me{
        max-height:90vh;
    }

    a{
        padding:10px;
        width:400px;
        line-height:50px;
        font-size:25px;
    }

    .projectInfo{
        margin-top:30px;
        margin-bottom: 30px;
    }

    .projectInfo .title{
        font-size:22px;
    }

    .projectInfo .main{
        line-height:40px;
        font-size: 35px;
    }

    .timeframe{
        margin-right:250px;
    }

    .channels{
        margin-top:20px;
        margin-bottom:20px;
    }

    .mobileProject{
        width:600px;
        max-height:800px;
    }
}

@media(min-width: 2400px){
    /* Extra Large Screen size ***************************************************/
    /* XL */
    a{
        padding:10px;
        width:500px;
        line-height:100px;
        font-size:40px;
    }

    .footer > p{
        font-size:18px
    }

    .mobileProject {
        width: 700px;
        border: 4px solid #000;
        border-bottom:0;
        border-radius: 50px 50px 0 0;
        max-height: 1000px;
    }

    .mobileProject .screen{
        margin-top:100px;
    }
}
