@import '_variables';
@import '_mixins';

@import '_sections';
@import '_buttons';
@import '_textStyles';

section#loading{
    @include transition(.5s);
    width:100%;
    height:100%;
    background-color:$darkGrey;
    color:$light;
    position:fixed;
    left:0;
    top:0;
    display:flex !important;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    z-index:9999;
}

section#loading header{
    width:100%;
    text-align:center;
}

section#loading.hidden{
    opacity:0;
}

main.fixed{
    height:10vh;
}

section.fixedHeight{
    min-height:100vh;
    max-height:100vh;
}

section.autoHeight{
    @include grid;
    grid-template-rows:1fr 1fr 1fr !important;
    grid-template-areas:
        "header header"
        "subhead subhead"
        "contentTop contentTop" !important;
}

section.autoHeight.smallSection{
    @include grid;
    grid-template-rows:1fr 1fr !important;
    grid-template-areas:
        "header header"
        "subhead subhead" !important;
}

section.hiddenBelow{
    position:fixed;
    top:120vh !important;
    left:0;
    width:100%;
    background-color:$light;
}

section.hiddenBelow.shown{
    top:0;
}

article.row{
    flex-direction:row;
    justify-content: space-around;
}

article.column{
    flex-direction:column;
    justify-content: space-around;
}

aside.portrait{
    display:block;
}

.portrait img{
    border-radius:100%;
}

.projectInfo:nth-of-type(1n){
    grid-area:contentTop;
}

.projectInfo:nth-of-type(2n){
    grid-area:contentBottom;
}

.iconSmall img{
    height:90px;
    width:auto;
    margin-bottom:$largeSpace;
}

#sideProjects .secondAction, #contact .secondAction{
    grid-area:mainAction !important;
}

#sideProjects header{
    grid-area:subhead;
}

#sendoff a, #contact a{
    grid-area:mainAction !important;
    justify-self:center !important;
}

.introduction header{
    grid-area:contentTop;
}

svg.close{
    width:50px !important;
    height:50px !important;

    padding:$smallSpace $smallSpace $largeSpace $smallSpace;
    z-index:11;
    cursor:pointer;
    grid-area:backButton;
    align-self:end;
    justify-self:center;
}

#games img{
    height:100px;
    width:auto;
}

.miniBagScreen *, .mobileProject figure *{
    @include transition(.5s);
}

#contact, #icons, #games{
    @include transition(.5s);
}

h3.hideCopy{
    opacity:0;
}

.icons, .games{
    position:relative;
    cursor:pointer;
}

.musicNote{
    @include transition(.7s);
    line-height:1px !important;
    margin:0 !important;
    padding:0 !important;
    color:$nationwideBlue;
    font-size:50px;
    position:absolute;

    top:25%;
    left:10%;
    opacity:1;
}

.musicNote:nth-of-type(2){
    color:$kohlsGreen;

    top:17%;
    left:25%;
}

.musicNote:nth-of-type(3){
    color:$kohlsMagenta;

    top:20%;
    left:50%;
}

.musicNoteMoved{
    top:5% !important;
    opacity:0;
}

.musicNoteHidden{
    @include transition(0s);
    opacity:0;
}



@media(min-width:$M-width){
    .mobileProject, .desktopProject{
        grid-template-columns:$intentionalSpace 1fr 1fr $intentionalSpace;
        grid-template-rows: 0.5fr 100px $intentionalSpace auto 1fr 1fr;

        align-items:center;
        justify-items:start;

        grid-template-areas:
            "marginLeft header header marginRight"
            "marginLeft subhead subhead marginRight"
            "marginLeft spaceTop spaceTop marginRight"
            "marginLeft contentTop secondAction marginRight"
            "marginLeft contentBottom image marginRight"
            "space space image marginRight";

        overflow:hidden;
    }

    .desktopProject{
        grid-template-columns:$intentionalSpace 1fr 1fr $intentionalSpace;
        grid-template-rows:.5fr auto auto $intentionalSpace 1fr;

        align-items:center;
        justify-items:start;

        grid-template-areas:
            "marginLeft header header marginRight"
            "marginLeft subhead contentTop marginRight"
            "marginLeft secondAction contentBottom marginRight"
            "space space space space"
            "image image image image";
    }

    .desktopProject.short{
        justify-items:center;
        grid-template-columns:$intentionalSpace 1fr 1fr 1fr $intentionalSpace;
        grid-template-rows:auto auto $largeSpace $largeSpace;

        grid-template-areas:
            "marginLeftTop header header header marginRightTop"
            "marginLeft contentTop contentBottom mainAction marginRight"
            "space space space space space"
            "image image image image image";
    }

    .mobileProject{
        border-bottom:1px solid $dark;
    }

    .projectInfo hgroup{
        align-items:flex-start;
        width:60%;
    }

    .mobileProject aside{
        border-radius:30px 30px 0 0;
        border-radius:5vw 5vw 0 0;
        margin-top:$intentionalSpace;
        background-color:$darkGrey;
        position:relative;
    }

    .mobileProject figure{
        width:calc(100% - 16px);
        height:calc(100% - 8px);
        border-radius:25px 25px 0 0;
        border-radius:4.1vw 4.1vw 0 0;
        position:absolute;
        bottom:0;
        left:8px;
        background-color:$light;
    }

    .mobileProject figure div.notch{
        width:50%;
        height:31px;
        border-radius:0 0 20px 20px;
        position:absolute;
        top:-1px;
        left:25%;
        background-color:$darkGrey;
    }

    aside.portrait{
        grid-area:contentBottom;
    }

    .desktopProject figure{
        align-items:flex-start;
        height:400px;
    }

    .introduction header{
        grid-area:header;
    }

    #sideProjects header{
        grid-area:header;
        margin-bottom:$largeSpace;
    }

    #sideProjects figure{
        height:auto !important;
    }
}

@media(min-width:$M-special-width){
    .fixedHeight.mobileProject, .fixedHeight.desktopProject{
        min-height:0;
        max-height:none;
        margin:0;
    }

    .fixedHeight.mobileProject{
        max-height:650px;
    }

    .desktopProject{
        @include grid-desktop;

        grid-template-columns: .3fr 1fr 1fr 1fr .3fr;
        grid-column-gap:$smallSpace;
    }

    .mobileProject{
        @include grid-mobile;
        grid-template-columns:1fr 450px $intentionalSpace 200px 200px 0 1fr;
        grid-column-gap:$smallSpace;
    }

    .portrait img{
        height:250px;
        width:auto;
    }

    .desktopProject a, .mobileProject a{
        align-self:center;
        grid-area:mainAction !important;
    }

    .projectInfo hgroup{
        width:inherit;
    }
    .mobileProject figure div.notch{
        height:41px;
        border-radius:0 0 30px 30px;
    }

    .iconSmall img{
        margin-top:$largeSpace;
        height:100px;
    }
}

@media(min-width:$L-width){
    .mobileProject{
        grid-template-columns:1fr 500px $largeSpace 250px 250px 0 1fr;
    }

    .fixedHeight.mobileProject{
        max-height:800px;
    }

    .mobileProject aside{
        border-radius:4vw 4vw 0 0;
    }

    .mobileProject figure{
        width:calc(100% - 20px);
        height:calc(100% - 10px);
        border-radius:3.1vw 3.1vw 0 0;
        left:10px;
    }
}

@media(min-width:$L-special-width){
    .desktopProject{
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    }

    .mobileProject aside{
        border-radius:3.5vw 3.5vw 0 0;
    }

    .mobileProject figure{
        border-radius:2.75vw 2.75vw 0 0;
    }
}

@media(min-width:$XL-width){
    .mobileProject aside{
        border-radius:50px 50px 0 0;
    }

    .mobileProject figure{
        width:calc(100% - 24px);
        height:calc(100% - 12px);
        border-radius:40px 40px 0 0;
        left:12px;
    }

    .mobileProject figure div.notch{
        height:31px;
        border-radius:0 0 20px 20px;
    }
}
